wealth_assessment@0.0.0 D:\wealth_assessment
+-- @apollo/client@3.13.7
+-- @emotion/react@11.11.1
+-- @emotion/styled@11.11.0
+-- @mui/icons-material@5.15.14
+-- @mui/material@5.15.14
+-- graphql@16.10.0
+-- react-dom@18.2.0
`-- react@18.2.0

